body {
  /*  width: 400px; */
  /*  margin: 0px;  */
  /*  min-width: 357px; */
    width: 960px;
    margin: auto;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Kaku Gothic Pro", "Lucida Grande", Verdana, Arial, Meiryo, "メイリオ", sans-serif;
}

.panel {
    height: 400px;
    background-image: url(/static/mikamika/wood.jpeg);
}

.panel-body {
    height: 400px;
    overflow: auto;
}

.chatBox {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.chatBalloon {
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    background-color: white;
}


.inputText {
    text-align: right;
    background-color: Lime;
    border-radius: 10px;
    float: right;
    list-style: none;
}

.inputText2 {
    text-align: left;
    background-color: white;
    border-radius: 10px;
    float: left;
    list-style: none;
}

.talk{/* */
    background-image:url(/static/mikamika/wood.jpeg);
    margin-left: 100px;
}

img{  /* ::before */
    left:0;
    overflow: hidden;
    width: 30px; /* 画像の幅 */
    height: 30px;
    border-radius: 30%; /* 画像を丸く表示する */
    border: 2px solid #eee;
    border-radius:30%;
}

.huki{
    position: relative;
    float: left;
    margin: 0 105px 40px 105px;
}

.div_message::before{
    content:'hello';
    left: 0%;
}

.icon{  /* ::before */
    left:0;
    overflow: hidden;
    width: 30px; /* 画像の幅 */
    height: 30px;
    border-radius: 30%; /* 画像を丸く表示する */
    border: 2px solid #eee;
    border-radius:30%;
	background-size:contain; 
    background-position:center center;  
    background-repeat : repeat-y;
}
