
---------------------------------------------------------------------------*/
html,body {
	overflow-x: hidden;
    min-height: 100%;    /*背景グラデーション用*/
    font-size: 14px;    /*基準となるフォントサイズ。下の方にある「画面幅800px以上」で基準を大きなサイズに変更しています。*/
}

body {
	font-family: 'M PLUS Rounded 1c', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	-webkit-text-size-adjust: none;
    background: #fff;	/*背景色*/
	color: #555;	    /*全体の文字色*/
	line-height: 2;		/*行間*/
}

/*マージンのリセット*/
figure {margin: 0;}
dd {margin: 0;}

/*table全般の設定*/
table {border-collapse:collapse;}

/*画像全般の設定*/
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}

/*section全般の設定*/
section + section {
	padding-top: 30px;	/*sectionの間に空けるスペース*/
}

/*videoタグ*/
video {max-width: 100%;}

/*iframeタグ*/
iframe {width: 100%;}

/*リンクテキスト全般の設定
---------------------------------------------------------------------------*/
a {
	color: #555;	/*文字色*/
}

a:hover {
	color: #999;	/*マウスオン時の文字色*/
}

/*headerブロック（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*headerブロック*/
header {		/*中身をセンタリングする*/		/*上に空ける余白*/
    display: flex;
	justify-content:space-between;
}


/*ロゴテキストを画像にした場合*/
header #logo img {
    width:  80px;
	height: 50px;         /*画像の幅*/
    padding: 0px 20px;    /*上下、左右へ空ける余白*/
}

nav{
    margin-left:auto; /*メニューを右寄せ*/
}

ul {
    list-style: none;
	text-align: right;
    justify-content: space-around;
    display: inline-block;
}

li{
    display:inline; 
    padding:0 10px;
	margin-left:0px;
}
/*リンクテキストの設定*/
#menubar a {
	display: block;
    text-decoration: none;
	padding: 0 8px;	/*上下、左右へのテキスト内にとる余白。*/
}

/*メニュー１個あたりの設定*/
#menubar li {
	display: inline-block;	/*メニューを横並びにする指定*/
	text-align: center;		/*テキストをセンタリング*/
    position: relative;
}
#menubar li::before {
    content: "";
    background: #ccc;	/*下線の色*/
    height: 3px;		/*下線の高さ*/
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
	transition: 0.2s;	/*アニメーションにかける時間*/
    transition-timing-function: ease-out;
	transform: scaleX(0);
}

/*マウスオン時*/
#menubar li:hover::before {
	transform: scaleX(1);
}

/*mainブロック
---------------------------------------------------------------------------*/
.todou-box {
	display:flex;
	justify-content:center;
	padding:  0px;
}

.todou-item {
    padding: 0px;
    margin:  30px;              /* 外側の余白 */
    width: 20%;                 /* 幅指定 */
}

h1 {
	margin-bottom: -20px;
}

main {
    margin: 30px 30px;	/*上下、左右へのブロックの外側へ空けるスペース*/
}

/*ブロック内のh2タグ*/
main h2 {
    display: inline-block;
	font-size: 1.6rem;		/*文字サイズ。remの単位についてはテンプレート内の解説をお読み下さい。*/
	margin-bottom: 0px;	/*下に空けるスペース*/
    letter-spacing: 0.1em;	/*文字間隔を少しだけ広くとる設定*/
    border-bottom: 3px solid #f3d110;	/*下線の幅、線種、色*/
}

/*ブロック内のh3タグ*/
main h3 {
	font-size: 1.4rem;		/*文字サイズ。remの単位についてはテンプレート内の解説をお読み下さい。*/
	margin-bottom: 40px;	/*下に空けるスペース*/
}

/*mainブロックのpタグ*/
main p {
	margin-bottom: 40px;	/*下へ空けるスペース*/
}

/*細々微調整*/
h2 + h3, h2 + p, h3 + p {
    margin-top: 0px;
}


/*スライドショー（slickを使用）
---------------------------------------------------------------------------*/
.mainimg {
	position: relative;
}

.slick-slide {
    margin: 10px;	/*スライドショー画像同士の間にあけるスペース*/
}

.slick-slide img {
    border-radius: 10px;	/*画像の角丸。丸くカットしない場合は、この１行を削除。*/
    box-shadow: 3px 3px 8px rgba(0,0,0,0.2);	/*ボックスの影。右へ、下へ、ぼかし幅の順。0,0,0は黒色のことで0.2は色が20%出た状態のこと。*/
}

/*丸いページナビボタン全体を囲むブロック*/
.slick-dots {
	text-align: center;
	width: 100%;
	margin:0;padding: 0;
	line-height: 1;
	position: absolute;
	bottom: 20px;	/*下からの配置場所指定*/
}

/*丸いページナビボタン１個あたりの設定*/
.slick-dots li {
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
}

/*buttonタグ*/
.slick-dots li button {
	display: block;
    padding: 0;
    border: none;
    border: 1px solid #555;	/*枠線の幅、線種、色*/
	text-indent: -9999px;	/*デフォルトで文字が出るので画面の外に追い出す指定*/
	width: 12px;			/*ボタンの幅*/
	height: 12px;			/*ボタンの高さ*/
	border-radius: 50%;		/*丸くする指定*/
	background: #fff;		/*背景色。白。*/
}

/*buttonのアクティブ時（現在表示されている画像を示すボタン）*/
.slick-dots li.slick-active button {
	background: #555;	/*色*/
}

/*テーブル
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	border-top: 1px solid #ccc;		/*上の枠線の幅、線種、色。*/
	font-weight: bold;				/*太字に*/
	padding: 10px 5px;				/*上下、左右へのボックス内の余白。基本的に数行下の「.ta1 th, .ta1 td」のpaddingと揃えておけばOKです。*/
    background: rgba(0,0,0,0.1);	/*背景色。0,0,0は黒のことで0.1は色が10%出た状態。*/
}

/*ta1テーブルブロック設定*/
.ta1 {
	border-top: 1px solid #ccc;	/*テーブルの一番上の線。幅、線種、色。*/
	table-layout: fixed;
	margin: 0 auto 30px;		/*最後の「30px」がテーブルの下に空けるスペースです*/
    width: 100%;
}

/*tr（１行分）タグ設定*/
.ta1 tr {
	border-bottom: 1px solid #ccc;	/*テーブルの下線。幅、線種、色。*/
}

/*th（左側）、td（右側）の共通設定*/
.ta1 th, .ta1 td {
	padding: 10px 5px;		/*上下、左右へのボックス内の余白*。基本的に数行上の「.ta1 caption」のpaddingと揃えておけばOKです。*/
	word-break: break-all;	/*英語などのテキストを改行で自動的に折り返す設定。これがないと、テーブルを突き抜けて表示される場合があります。*/
}

/*th（左側）のみの設定*/
.ta1 th {
	width: 30%;				/*幅*/
	text-align: left;		/*左よせにする*/
	font-weight: normal;	/*デフォルトの太字を標準にする*/
}


/*PAGE TOP（↑）設定
---------------------------------------------------------------------------*/
.pagetop-show {display: block;}

.pagetop a {
	display: block;text-decoration: none;text-align: center;
	width: 50px;		/*幅*/
	line-height: 50px;	/*高さ*/
	position: fixed;
	right: 30px;		/*右からの配置場所指定*/
	bottom: 30px;		/*下からの配置場所指定*/
	color: #fff;		/*文字色*/
	background: rgba(0,0,0,0.4);	/*背景色。0,0,0は黒色のことで0.4は色が40%出た状態。*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
}

/*マウスオン時*/
.pagetop a:hover {
	background: rgba(0,0,0,0.8);	/*背景色。0,0,0は黒色のことで0.8は色が80%出た状態。*/
}


