{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>ユーザー様画面</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header>
    <h1 id="logo"><a href="{% url 'mikamika:index' %}">
    <img src="/static/mikamika/logo.png" alt="MikaMika"></a>
    </h1>
    <nav>
     <ul>
          <li><a href="{% url 'logout' %}"style="text-decoration:none;">ログアウト</li></a>
     </ul>
    </nav>            
</header>

<hr style="border-top: 1px solid #ccc">

<main>
{% if user.is_authenticated %}
<h1 style="border-bottom: 3px solid orange">{{ user.get_username }}様、ようこそ</h1>
{% endif %}
</main>

<center>
<form action="{% url 'mikamika:mikamika_upload' %}" method="POST">
{% csrf_token %}
<div class="profile">
    {% if "img" in uimage %}
    <input type = "image" img class="profile__img" src="/media/{{uimage}}" name="button_1"> 
    {% else %}
    <input type= "image" src="/static/mikamika/default.png" class="profile__img">
    {% endif %}
</div>
</form>
</center>


<div class="user-box">
 <div class="user-item">
 <h2 style="background-color:whitesmoke">good評価の件数</h2>
 <center><h2>{{ gcount }}件</h2></center>
 </div>
 <div class="user-item">
 <h2 style="background-color:whitesmoke">soso評価の件数</h2>
 <center><h2>{{scount}}件</h2></center>
 </div>
</div>
 <center><h2><a href="{% url 'mikamika:mikamika_ulist'  %}">登録情報の編集</a></h2></center>

<p></p>
<hr style="border-top: 1px solid #ccc">

<center><h1>現在のマッチング率１位のユーザーは、</h1></center>
<p></p>
{% if "img" in mimage %}
<img src = "/media/{{mimage}}" img class="profile__img" > 
{% else %}
<img src = "/static/mikamika/default.png" class="profile__img">
{% endif %}
<center>
{{ mage.get_age_display }}
{{ mage.get_sex_display }}
</center>
{% if matti != 'ゼロ'  %}
<center><h1>{{ matti }}様です</h1></center>

<hr style="border-top: 1px solid #ccc">

<center><p style="font-size: 150%">{{ matti }}様にメッセージを送る→<a href="{% url 'mikamika:mikamika_chat' %}">こちら</a></p></center>

<hr style="border-top: 1px solid #ccc">

<center><p style="font-size: 150%">{{ matti }}様のgood評価の店は下記になります</p></center>
{% for mmgstore,mmgtodou in mgstore %}
<center><h2>{{ nugtodou3 }}の{{ mmgstore }}➡<a href="{% url 'mikamika:tokoo' %}">登録</a></h2></center>
{% endfor %}
<center><p style="font-size: 150%">上記店に行かれたことがなければ別のgood店は</p></center>
<center><h2><a href="{% url 'mikamika:mikamika_user' %}">→こちら</a></</h2></center>
<hr style="border-top: 1px solid #ccc">
<center><h2><a href="{% url 'mikamika:mikamika_create4' %}">店と評価を登録しよう</h2></p></center>

{% else %}
<center><h2>おりません</h2></center>
<hr style="border-top: 1px solid #ccc">
<center><h2><a href="{% url 'mikamika:mikamika_create4' %}">店と評価を登録しよう</h2></p></center>
{% endif %} 
</body>
</html>