<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>ミカミカ-味覚マッチングサービス tp_beginner7</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="css/style.css">
</head>

<body>

<div id="container">

<header>
<h1 id="logo"><a href="index1.html">
<img src="img/MikaMika.png" alt="MikaMika"></a>
</h1>
<nav>
    <ul>
      <li><a href="company.html">about MikaMika</a></li>
    </ul>
  </nav>
</header>

<!--メインメニュー-->
<nav id="menubar">

<!--スライドショー（slick）-->
<div class="mainimg">
<div><img src="img/img001.jpeg" alt=""></div>
<div><img src="img/img002.jpeg" alt=""></div>
<div><img src="img/img003.jpeg" alt=""></div>
</div>

<main>

<section>
  <a href="{% url 'account_logout' %}">ログアウト</a>
  <h1>GOOD評価の店を教えてください</h1>
  <h2><a href="{% url 'mikamika:mikamika_create' %}">評価の投稿</a></h2>
  <h2><a href="{% url 'mikamika:mikamika_user' %}">ユーザー</a></h2>
  <h2><a href="{% url 'mikamika:mikamika_todoulist' %}">都道府県一覧</a></h2>

</section>

</main>


</body>
</html>
