{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>ミカミカ-味覚マッチング</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header>
<h1 id="logo">
<img src="/static/mikamika/logo.png" alt="MikaMika">
</h1>

<nav>
  <ul>
    <li><a href="{% url 'login' %}"style="text-decoration:none;">ログイン</li>
    <li><a href="{% url 'logout' %}"style="text-decoration:none;">ログアウト</li>
    <li><a href="{% url 'mikamika:mikamika_signup' %}"style="text-decoration:none;">会員登録</li>
    <li><a href="{% url 'mikamika:mikamika_user' %}"style="text-decoration:none;">ユーザー様</li>
  </ul>
</nav>

</header>

<div style="text-align:center">
<hr style="border-top: 1px solid #ccc">

<a><img src="/static/mikamika/soso3.png" alt="" width="600" height="50" style="margin-top:40px"></a>
<main>
<center><h2>【 行列・有名店 】</h2></center>
</main>

<div class="todou-box">
  <div class="todou-item">
  <form method="post">
  {% csrf_token %}
  <h2 style="background-color:whitesmoke"> 東 京 </h2>
  <p></p>
  {% for mtstore in tstore %}
  <p><img src="/static/mikamika/ramen.jpeg" alt="" width="300" height="50"></p>
  <a href="{% url 'mikamika:mikamika_create0' '東京' mtstore %}">{{ mtstore }}</a>
  {% endfor %}
  </div>
<div class="todou-item">
<h2 style="background-color:whitesmoke"> 大 阪 </h2>
<p></p> 
{% for mostore in ostore %}
 <p><img src="/static/mikamika/teisyoku.jpeg" alt="" width="300" height="50"></p>
 <a href="{% url 'mikamika:mikamika_create0' '大阪' mostore %}">{{ mostore }}</a>
 {% endfor %}
</div>
<div class="todou-item">
<h2 style="background-color:whitesmoke"> 京 都 </h2>
<p></p>
{% for mkstore in kstore %}
<p><img src="/static/mikamika/yakiniku.png" alt="" width="300" height="50"></p>
<a href="{% url 'mikamika:mikamika_create0' '京都' mkstore %}">{{ mkstore }}</a>
{% endfor %}
</div>
</div>
</form>

</body>
</html>
