{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>ミカミカ-味覚マッチングサービス</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header>
<h1 id="logo">
<img src="/static/mikamika/logo.png" alt="MikaMika">
</h1>

<nav>
  <ul>
    <li><a href="{% url 'account_logout' %}"style="text-decoration:none;">ログアウト</li>
    <li><a href="{% url 'account_login' %}"style="text-decoration:none;">会員登録</li>
    <li><a href="{% url 'mikamika:mikamika_user' %}"style="text-decoration:none;">ユーザー様</li>
  </ul>
</nav>

</header>

<div style="text-align:center;">
<a><img src="/static/mikamika/soso.png" alt="" width="170" height="130"></a>

<main>
<center><h2>【 行列店・有名店のSoSo 】</h2></center>
</main>

<h1>都道府県別の店一覧表示</h1>

<div class="todou-box">
<div class="todou-item">
 <form method="post">
 {% csrf_token %}
 <h2>🔳東京</h2>
 {% for mtstore in tstore %}
 <p><a href="{% url 'mikamika:mikamika_create0' '東京' mtstore %}">{{ mtstore }}</a></p>
 {% endfor %}
</div> 
<div class="todou-item">
 <h2>🔳大阪</h2>
 {% for mostore in ostore %}
 <p><a href="{% url 'mikamika:mikamika_create0' '大阪' mostore %}">{{ mostore }}</a></p>
 {% endfor %}
</div>
<div class="todou-item">
<h2>🔳京都</h2>
{% for mkstore in kstore %}
<p><a href="{% url 'mikamika:mikamika_create0' '京都' mkstore %}">{{ mkstore }}</a></p>
{% endfor %}
</div>
</div>
</form>

</body>
</html>
