<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>都道府県別の店一覧</title>
</head>
<body>

<h1>都道府県別の店一覧表示</h1>

<form method="post">
{% csrf_token %}
<h2>🔳東京</h2>
{% for mtstore in tstore %}
<p>{{ mtstore }}</p>
<p><a href="{% url 'mikamika:mikamika_create' %}">評価</a></p>
{% endfor %}

<h2>🔳大阪</h2>
{% for mostore in ostore %}
<p>{{ mostore }}</p>
<p><a href="{% url 'mikamika:mikamika_create' %}">評価</a></p>
{% endfor %}

<h2>🔳京都</h2>
{% for mkstore in kstore %}
<p>{{ mkstore }}</p>
<p><a href="{% url 'mikamika:mikamika_create' %}">評価</a></p>
{% endfor %}

</form>

<a href="{% url 'mikamika:index' %}">戻る</a>
</body>
</html>