{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザー評価登録</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ここにサイト説明を入れます">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <h1 id="logo"><a href="{% url 'mikamika:index' %}">
    <img src="/static/mikamika/logo.png" alt="MikaMika"></a>
    </h1>
    <nav>
     <ul>
          <li><a href="{% url 'logout' %}"style="text-decoration:none;">ログアウト</li>
     </ul>
    </nav>            
 </header>

<div style="text-align:center;">

<hr style="border-top: 1px solid #ccc">
{% if user.is_authenticated %}
<h1>{{ user.get_username }}様</h1>
{% endif %}
<a><img src="/static/mikamika/soso.png" alt="" width="170" height="130" style="margin-top:40px"></a>
    
<main>
<center><h2>sosoの店は、{{ usotodou}}の{{ usostore }} です</h2></center>
<p></p>
<center>上記店をsosoされた方は下記店をgoodされています。</center>
<p></p>
<center><h2>goodの店は、{{ ugtodou}}の{{ ugstore }} です</h2></center>
</main>

<p>上記店は行かれたことがありますか？</p>
<h2><a href="{% url 'mikamika:mikamika_create3' %}">No</a></h2>
<p>行かれたことがなければ、ぜひ一度行ってみてはいかがでしょうか</p>
<p></p>
<p>行ったことがありましたら、評価の登録をお願いします</p>
<h2><a href="{% url 'mikamika:tokoo' %}" input type="button">登録</a></h2>
<p></p>

<hr style="border-top: 1px solid #ccc">

<h2><a href="{% url 'mikamika:mikamika_user' %}">戻る</a></h2>

</body>
</html>