<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>ミカミカ-味覚マッチングサービス tp_beginner7</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="css/style.css">
</head>

<body>

<div id="container">

<header>
<h1 id="logo"><a href="index1.html">
<img src="img/MikaMika.png" alt="MikaMika"></a>
</h1>
<nav>
    <ul>
      <li><a href="company.html">about MikaMika</a></li>
    </ul>
  </nav>
</header>

{% if user.is_authenticated %}
<h1>{{ user.get_username }}様の評価登録情報です</h1>
{% endif %}


<h2>good評価の店一覧</h2>
<form method="post">
{% csrf_token %}
{% for mgupk, mmgustore in mgustore %}
<p>{{ mmgustore }}</p>
<p><a href="{% url 'mikamika:mikamika_uupdate' mgupk %}">編集</a> or
<a href="{% url 'mikamika:mikamika_udelete' mgupk %}">削除</a></p>
{% endfor %}
</form>

<h2>soso評価の店一覧</h2>
<form method="post">
{% csrf_token %}
{% for msupk, mmsustore in msustore %}
{{ mmsustore }}
<p><a href="{% url 'mikamika:mikamika_uupdate' msupk %}">編集</a> or 
<a href="{% url 'mikamika:mikamika_udelete' msupk %}">削除</a></p>
{% endfor %}


<a href="{% url 'mikamika:mikamika_user' %}">戻る</a>

</body>
</html>