{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>ユーザー様画面</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header>
    <h1 id="logo"><a href="{% url 'mikamika:index' %}">
    <img src="/static/mikamika/logo.png" alt="MikaMika"></a>
    </h1>
    <nav>
     <ul>
          <li><a href="{% url 'account_logout' %}"style="text-decoration:none;">ログアウト</li></a>
          <li><a href="{% url 'account_login' %}"style="text-decoration:none;">会員登録</li></a>
     </ul>
    </nav>            
</header>

<main>
{% if user.is_authenticated %}
<h1>{{ user.get_username }}様、ようこそ</h1>
{% endif %}
</main>

<div class="user-box">
 <div class="user-item">
 <h2>good評価の件数</h2>
 <center><h2>{{ gcount }}件</h2></center>
 </div>
 <div class="user-item">
 <h2>soso評価の件数</h2>
 <center><h2>{{ scount }}件</h2></center>
 </div>
</div>
 <center><h2><a href="{% url 'mikamika:mikamika_ulist'  %}">登録情報の編集</a></h2></center>

<center><h1>現在のマッチング率１位のユーザーは、</h1></center>
<center><h1>{{ matti }}様です</h1></center>

<center><p>{{ matti }}様のgood評価の店は下記になります</p></center>
{% for mmgstore,mmgtodou in mgstore %}
<center><h2>{{ mmgtodou }}{{ mmgstore }}➡<a href="{% url 'mikamika:tokoo' %}">登録</a></h2></center>
{% endfor %}
<center><p>上記店に行かれたことがなければ別のgood店は</p></center>
<center><h2><a href="{% url 'mikamika:mikamika_user' %}">→こちら</a></</h2></center>

<h2>🔳good,sosoの店の評価をしよう</h2>
<h2><a href="{% url 'mikamika:mikamika_create' %}">評価登録</a></h2>

<p><a href="{% url 'mikamika:index' %}">戻る</a></p>

</body>
</html>