<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>ミカミカ-味覚マッチングサービス tp_beginner7</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="css/style.css">
</head>

<body>

<div id="container">

<header>
<h1 id="logo"><a href="index1.html">
<img src="img/MikaMika.png" alt="MikaMika"></a>
</h1>
<nav>
    <ul>
      <li><a href="company.html">about MikaMika</a></li>
    </ul>
  </nav>
</header>

{% if user.is_authenticated %}
{{ user.get_username }}様、ようこそ
{% endif %}

<h1>味覚のマッチングを目指そう</h1>

<h2>評価登録の表示</h2>
<p>good評価の件数は、{{ gcount }} 件</p>
<p>soso評価の件数は、{{ scount }} 件</p>
<p><a href="{% url 'mikamika:mikamika_ulist'  %}">登録情報の編集</a></p>

<h2>good,sosoの店の評価をしよう</h2>
<p><a href="{% url 'mikamika:mikamika_create' %}">評価登録</a></p>

<h2>現在のマッチング率１位のユーザーは、{{ matti }}です</h2>

<h2>{{ matti }}様のgood評価の店は下記になります</h2>
{% for mmgstore,mmgtodou in mgstore %}
<p>{{ mmgstore.get_todou_display }}{{ mmgstore }}➡<a href="{% url 'mikamika:tokoo' %}">登録</a></p>
{% endfor %}
<p>{{ mgstore.get_todou_display }}</p>

<p><a href="{% url 'mikamika:index' %}">戻る</a></p>

</body>
</html>